*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('assets/_fonts.scss');
@import url('assets/_header.scss');
@import url('assets/_main.scss');
@import url('assets/_footer.scss');
@import url('assets/_colors.scss');


body{
    
    
}
