@font-face {
    font-family: Open-sans-light;
    font-weight: 300;
    font-style: normal;
    src: url('../files/fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: Open-sans-regular;
    font-weight: 400;
    font-style: normal;
    src: url('../files/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: Open-sans-medium;
    font-weight: 500;
    font-style: normal;
    src: url('../files/fonts/OpenSans-Medium.ttf');
}
@font-face {
    font-family: Open-sans-semiBold;
    font-weight: 600;
    font-style: normal;
    src: url('../files/fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: Open-sans-bold;
    font-weight: 700;
    font-style: normal;
    src: url('../files/fonts/OpenSans-Bold.ttf');
}