header {
  height: 100vh;
  position: relative;
  .fixedTop {
    backdrop-filter: blur(20px);
    position: fixed;
    width: 100vw;
    z-index: 99;
    .headerTopo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 105px;
      .menuHamburguer {
        position: fixed;
        right: 20px;
        top: 20px;
        font-size: 2rem;
        cursor: pointer;
        color: #01adef;
        z-index: 98;
        .fa-bars {
          display: none;
          z-index: 98;
        }
        .fa-xmark {
          display: none;
          z-index: 98;
        }
      }

      nav {
        z-index: 95;
        ul {
          display: flex;
          gap: 45px;

          li {
            a {
              font-size: 1.2rem;
              font-weight: 600;
              position: relative;
              text-decoration: none;
              transition: all 0.5s;
            }
            a:hover {
              color: #16307967;
            }
          }
        }
      }

      img {
        width: 110px;
      }
    }
  }

  .headcols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
    padding: 120px 0px 20px 0;
    height: 100vh;
    position: relative;
    .col-1 {
      flex: 1;

      .caixaAjust1 {
        .iconsCaixa1 {
          display: flex;
          flex-direction: column;
          gap: 35px;
          padding-top: 20px;

          p {
            i {
              padding-right: 7px;
              font-size: 1.5rem;
              color: $secondary-dark;
            }
          }
        }
      }
    }

    .col-2 {
      flex: 1;
      .slide {
        width: 38vw;
        border-radius: 10px;
        // display: flex;
        // flex-direction: row;

        overflow-x: hidden;
        width: 600px;
        overflow: hidden;
        position: relative;

        i {
          position: absolute;
          background-color: #00adef;
          padding: 2px;
          border-radius: 50%;
          opacity: 0.2;
        }
        .fa-solid {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: #1630794e;
          font-size: 1.2rem;
          cursor: pointer;
          z-index: 99;
          margin: 5px;
        }

        .fa-arrow-right {
          right: 0;
        }
        .slide--width {
          height: 330px;
          display: flex;
          justify-content: center;
          align-items: center;
          // padding: 10px;
          transition: ease 1s;
          overflow: hidden;
          .slide-item {
            width: 100%;
            height: inherit;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            font img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .headerContainerCards {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
    max-width: 1280px;
    gap: 20px;

    position: absolute;
    top: 90%;
    .cardItem {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
      // max-width: 300px;
      flex: 1;
    }
  }
}

.opner {
  width: 300px !important;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

@media (max-width: 996px) {
  header {
    .headcols {
      padding: 0px 0px 80px 0;
      align-items: center;
      .col-1 {
        .caixaAjust1 {
          p {
            text-align: center;
          }
          .textH1 {
            text-align: center;
          }
          .iconsCaixa1 {
            align-items: flex-start;
            padding-top: 43px;
          }
        }
      }
      .col-2 {
        display: none;
      }
      .slide {
        display: none;
      }

      .btnSite {
        text-align: center;
      }
    }
    .headerContainerCards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      gap: 30px;
      // margin: 100px 0 30px 0;

      position: absolute;
      top: 70%;
      .cardItem {
        width: 300px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
      }
    }

    .headerContainerCards {
      top: 90vh;
    }
  }
}

@media (max-width: 768px) {
  header {
    height: auto;
    .fixedTop {
      .headerTopo {
        .menuHamburguer {
          .fa-bars {
            display: flex;
          }
        }
        nav {
          background-color: $secondary-dark;
          position: fixed;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 0;
          top: 0;
          width: 0px;
          height: 100vh;
          transition: all 0.7s;

          ul {
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;

            li {
              width: 80%;
              a {
                color: $primary-light;
                display: block;
                width: 100%;
              }
              a:hover {
                color: #ffffff99;
              }
            }
          }
        }
      }
    }

    .headcols {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // padding: 20px 0;
      padding: 150px 0px 20px 0;

      .col-1 {
        flex: 1;
        margin-bottom: 50px;
        .caixaAjust1 {
          .textH1 {
            font-size: 2rem;
          }

          button {
            margin: 20px 0;
            background-color: $terciary-ligth;
            padding: 15px 35px;
            border-radius: 5px;
            color: #fff;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
          }

          .iconsCaixa1 {
            gap: 25px;

            p {
              font-size: 0.9rem;
              i {
                font-size: 1.3rem;
              }
            }
          }
        }
      }

      .col-2 {
        flex: 1;
        display: none;
      }
    }
    .headerContainerCards {
      flex-wrap: wrap;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      .cardItem {
        max-width: 250px;
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    height: auto;
    .headerTopo {
      .menuHamburguer {
        .fa-bars {
          display: flex;
        }
      }

      nav {
        background-color: $secondary-dark;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        width: 0px;
        height: 100vh;
        transition: all 0.7s;

        ul {
          width: 100%;
          flex-direction: column;
          align-items: center;
          text-align: center;

          li {
            width: 80%;
            a {
              color: $primary-light;
              display: block;
              width: 100%;
            }
            a:hover {
              color: #ffffff99;
            }
          }
        }
      }
    }

    .headcols {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 150px 0px 20px 0;

      .col-1 {
        flex: 1;
        margin-bottom: 50px;
        .caixaAjust1 {
          text-align: center;
          .textH1 {
            font-size: 1.3rem;
            text-align: center;
          }

          button {
            font-size: 0.8rem;
            margin: 35px 0;

            // position: relative;
            // left: 50%;
            // transform: translateX(-50%);
          }

          .iconsCaixa1 {
            text-align: start;
            p {
              font-size: 1rem;
              i {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }

    .headerContainerCards {
      width: 100%;
      gap: 0;
      .cardItem {
        width: 500px;
        margin: 10px;
      }
      .noneCard{
        display: none;
      }
    }
  }
}
